%bedge {
    padding: 2px 4px 1px;
    border-radius: 2px;
    font-weight: bold;
}
.bedge-dark {
    @extend %bedge;
    background-color: rgba(77, 93, 117, 0.1);
    color: #4d5d75;
}
.bedge-dark-outline {
    @extend %bedge;
    border: solid 1px rgba(77, 93, 117, 0.46);
    color: #4d5d75;
}
