input {
    outline: none;
}
fieldset:disabled {
    h1, h2, h3, h4, h5, h6, h7, label, input,
    .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
        @extend .gray600-text ;
    }
}

.custom-select {
    background-image: url('/assets/images/caret-bottom.svg');
    padding: 0.75rem 1rem !important;
}
.form-control[readonly] {
    background-color: white;
}
