//arrow

.i-arrow {
    display: inline-block;
    background: url('/assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 8px;
    height: 15px;
}
.i-arrow-white {
    display: inline-block;
    background: url('/assets/images/arrow-white.svg');
    background-repeat: no-repeat;
    background-position: right;
    width: 8px;
    height: 15px;
}
