

// 리스트 헤더
.list-header {
    padding: 24px 24px 0;
    &__title {
        font-size: 22px !important;
        font-weight: bold;
    }
}
.list-header-product {
    padding: 24px 24px 0;
    &__title {
        font-size: 26px !important;
        font-weight: bold;
    }
}

// 리스트
.list {
    display: flex;
    padding: 4px 0;
    &__key {
        flex: 1;
        font-size: 16px;
        color: $color-grey-700;
    }
    &__value {
        flex: 1;
        font-size: 17px;
        font-weight: 600;
        text-align: right;
        color: $color-grey-900;
    }
    &__value-sm {
        font-size: 16px;
        text-align: right;
        color: $color-grey-700;
    }
}



.header-recommend {
    @extend .d-flex ;
    padding: 32px 24px 8px;
    .title, .subtitle {
        flex: 1;
    }
    .title {
        @extend .h6, .mb-0 ;
        color: $color-grey-700;
        font-weight: 400;
    }
    .subtitle {
        @extend .h7 ;
        color: $color-sub-content ;
        text-align: right;
    }
}

// 추천 리스트
.list-recommend-rank {
    @extend .d-flex, .bt-1-gray150 ;
    padding: 20px 24px;
    align-items: center;
    .order {
        @extend .h5, .w-10, .mb-1, .bold, .blue500-text ;
    }
    .key {
        flex: 1 ;
    }
    .title {
        margin-bottom: 0;
        font-weight: 500;
    }
    .subtitle {
        color: $color-sub-content;
    }
    .value {
        color: $color-profit;
        @extend .w-30, .bold, .text-center ;
    }
}
.list-recommend-keyword {
    @extend .d-flex, .bt-1-gray150, .px-4 ;
    align-items: center;
    min-height: 112px;
    .img {
        width: 70px;
        height: 70px;
        border-radius: 1000px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .contents {
        @extend .flex-3, .p-3 ;
        .title {
            @extend .bold, .mb-2 ;
        }
        .subtitle {

        }
    }
}
.list-recommend-pro {
    @extend .d-flex, .bt-1-gray150, .py-3, .px-4 ;
    align-items: center;
    .key {
        flex: 1 ;
    }
    .title {
        margin-bottom: 0.25rem;
    }
    .subtitle {
        color: $color-sub-content;
    }
    .value {
        @extend .pl-4 ;
    }
}

// 상품 리스트
.list-stock {
    table {
        width: 100%;
    }
    td {
        padding: 24px 0 ;

        &:first-child {
            padding-left: 24px;
        }
        &:last-child {
            padding-right: 24px;
        }
        @media only screen and (max-width: 359px) {
            &:first-child {
                padding-left: 12px;
            }
            &:last-child {
                padding-right: 12px;
            }
        }
    }

    .list-header {
        @extend .bb-1, .bt-1 ;
        td {
            padding-bottom: 8px;
        }
        .arrow {
            position: absolute;
            font-size: 10px;
            margin: 5px 0 0 6px;
        }
        i {
            @extend .oi, .oi-caret-bottom, .h7, .normal, .text-center ;
        }
        [data-toggle="modal"] {

        }
    }
    .list-item {
        @extend .bb-1-gray150 ;
        i {
            @extend .h7, .orange500-text, .pr-2, .orange500-text ;
        }
    }
    .product-type {
      vertical-align: top;
    }
    .product-name {
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
        // max-width: 126px;
        @extend .mb-2 ;
        .sort {
            margin-bottom: 2px;
        }
        .name {
            color: #999999;
            line-height: 1.6;
        }
    }
    .product-option,
    .product-profit {
        @extend .text-center ;
    }
}
