// navigation
.nav-active {
    color: $color-grey-900;
    border-bottom: 2px solid $color-primary;
}
.nav-tabs {
    background-color: white;
    position: relative;
    z-index: 2;
    border: none;
    color: $color-grey-700;
}
.nav-item a {
    padding: 1rem 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}
.prevent-click {
    pointer-events: none;
}
.lh-14 {
    line-height: 1.4;
}
.lh-18 {
    line-height: 1.8;
}
