/* 모든 글꼴 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    word-break: keep-all !important;
    // color: $color-main-content ;
}

p { font-size: 16px; }

// 링크
a, a:focus, a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]) {
    text-decoration: none !important;
    color: inherit !important;
    -webkit-appearance:none;
    outline: none;
    border: 0;
}

// 인용
.quote {
    color: $color-grey-500 ;
    @extend .h7, .pl-1 ;
    ul {
        @extend .pl-3 ;
    }
}

//link
.more-info {
    color: #144ae1 !important ;
    // font-weight: bold;
}

//icon-font
.arrow {
  display: inline-block;
  font-size: 0.7em;
  margin-right: 0.25em;
}

.h-number {
    font-size: 34px;
    font-weight: 600;
}

.h4 { line-height: 1.3em; }
.h7, h7 { font-size: 13px; }

.quote-warning {
    // padding: 16px;
    // background-color: $black-opacity-100;
    // border-radius: 4px;

    color: $color-grey-500;
    font-size: 15px;
    line-height: 1.6;
    word-break: keep-all;
}

.line-height-base {
    line-height: 1.6rem;
}

.number-profit {
    color: $color-red;
}

.text-primary {
    color: $color-primary;
}
