//Colre
@import 'tossframe';
@import 'tossframe-renew';


$asset-root: '../../assets/';

// Components
@import 'component/color.scss';
@import 'component/typography.scss';
@import 'component/form.scss';
@import 'component/nav.scss';
@import 'component/button.scss';
@import 'component/bedge.scss';
@import 'component/list.scss';
@import 'component/modal.scss';
@import 'component/icon.scss';
@import 'component/bottom-sheet.scss';
@import 'component/block.scss';

// Pages
@import "pages/main.scss";
@import "pages/product-detail.scss";
@import "pages/buy-sell.scss";
@import "pages/portfolio.scss";
@import "pages/footer.scss";
@import "pages/faq.scss";
@import "pages/survey.scss";

body {
    background-color: #F2F2F5;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

table {
    word-break: break-all;
}

.container {
    max-width: 475px;
    margin: auto;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }

.col-option-selected {
    @extend .gray50 ;
}
.hide {
    display: none !important;
}

.no-content::before {
    content: '' !important;
}

.transition {
    transition: all 0.2s ease-in-out;
}

.section-header {
    @extend .text-center, .gray700-text, .pb-2, .pt-3, .mt-2 ;
}
