//Colre
@import 'tossframe';
@import 'tossframe-renew';


// Variables

$color-primary: #3785f7;
$color-red: #f44336;
$color-grey-900: #1e1e21;
$color-grey-700: #585861;
$color-grey-600: #6e6e78;
$color-grey-500: #95959e;
$color-grey-400: #b7b7bd;

$black-opacity-100: rgba(0,0,0,0.04);

$color-main-content: $color-primary;
$color-sub-content: $color-grey-700;
$color-profit: $color-red;

$asset-root: '../../assets/';

// Components
@import 'component/typography.scss';
@import 'component/form.scss';
@import 'component/nav.scss';
@import 'component/button.scss';
@import 'component/bedge.scss';
@import 'component/list.scss';
@import 'component/modal.scss';
@import 'component/icon.scss';
@import 'component/bottom-sheet.scss';

// Pages
@import "pages/main.scss";
@import "pages/product-detail.scss";
@import "pages/buy-sell.scss";
@import "pages/portfolio.scss";
@import "pages/footer.scss";
@import "pages/faq.scss";


body {
    background-color: #F2F2F5;
}

.container {
    max-width: 475px;
    margin: auto;
}
#productList {
    background-color: white;
}
.block-recommend {
    @extend .gray0, .mb-3, .bt-1-gray200, .bb-1-gray200 ;
    margin-bottom: 4rem;
}

.container { max-width: 475px; }
.h4 { line-height: 1.3em; }
.h7, h7 { font-size: 13px; }
.fixed-bottom {
    position: fixed;
    bottom: 0;
}
.block-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 192px;
}

@media only screen and (max-width: 359px) {
    .block-image {
        min-height: 120px;
    }
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }

.w-49 {
    width: 49%;
}
.modal .table-bordered th,
.modal .table-bordered td {
    border: 1px solid #e0e0e0;
}
.col-option-selected {
    @extend .gray50 ;
}
.hide {
    display: none !important;
}
.line-height-base {
    line-height: 1.6rem;
}
.modal-title {
    @extend .bold ;
}
.modal-content {
    @extend .p-2 ;
}
.shadow-blue600 {
    box-shadow: 0px 1px 6px 0px #2e4996;
}
.input-password {
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid #1c2334;
}
.no-content::before {
    content: '' !important;
}

// 시작 가이드 배너
#banner {
    @extend .blue600, .py-5, .px-3, .text-center ;
    h1 {
        @extend .h4, .mx-auto, .mb-4 ;
        color: white;
    }
}

// 모달 설정
.modal-dialog {
    margin: 0;
    padding: 0;
    &.fixed-bottom {
        position: fixed;
        width: 100%;
    }
}
.modal-content {
    height: auto;
    border-radius: 0;
    border: 0;
    background-color: #fafafa;

    p {
        line-height: 1.5;
    }
}
.modal-footer {
    button {
        @extend .px-4 ;
    }
}
.modal.fade .modal-dialog {
    transform: translate(0, 100vh);
}
.modal.show .modal-dialog {
    transform: translate(0, 0);
}

// 성향 필터 카드
.filter-card {
    @extend .rounded, .b-1, .gray0, .py-4, .d-block, .mb-3 ;
    &.selected {
        background: #EDF2FE;
        border: 1px solid #4E7BFA !important;
        .title {
            @extend .blue500-text ;
        }
    }
    .title {
        @extend .w-30, .text-center, .align-top, .mb-0, .h5, .bold ;
    }
    .tag {
        font-size: 12px;
        padding: 6px 12px;
        color: white;
        border-radius: 4px;
        line-height: 1;
        font-weight: bold;
        margin-right: 4px;
    }
}
.tag-portfolio {
    display: inline-block;
    font-size: 12px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 4px;
    margin-top: -2px;
}

// 위험도 태그
.danger-6 { background-color: #BD151D }
.danger-5 { background-color: #F9AD54 }
.danger-4 { background-color: #FACA33 }
.danger-3 { background-color: #A3BE7D }
.danger-2 { background-color: #668BB8 }
.danger-1 { background-color: #094A90 }

.danger-6-text { color: #BD151D }
.danger-5-text { color: #F9AD54 }
.danger-4-text { color: #FACA33 }
.danger-3-text { color: #A3BE7D }
.danger-2-text { color: #668BB8 }
.danger-1-text { color: #094A90 }

/* 옵션 필터 */
#modalOptionFilter button.oi-check:before,
#profitFilter button.oi-check:before {
    position: absolute;
    right: 0;
    color: #4e7bfa;
    margin-right: 1rem;
}
.dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}


.transition {
    transition: all 0.2s ease-in-out;
}

// 메인화면 내 자산
#portfolio {
    @extend .blue600  ;
    .page {
        @extend .py-5, .px-3, .text-center, .w-100 ;
    }
    .title {
        @extend .h6, .gray0-text ;
    }
    .asset {
        @extend .h2, .gray0-text ;
    }
    .profit {
        @extend .mb-3 ;
    }
    .plus {
        @extend .pink500-text, .bold ;
    }
    .minus {
        @extend .blue200-text, .bold ;
    }
    .carousel-indicators li {
        height: 8px;
        max-width: 8px;
        border-radius: 4px;
    }
    .arrow {
        display: inline-block;
        position: absolute;
        margin-left: 6px;
        margin-top: 2px;
        background-color: #34549f;
        border-radius: 100px;
        i {
            padding: 8px 10px 10px 12px;
            font-size: 12px;
            @extend .oi, .oi-chevron-right, .gray0-text ;
            &:before {
                @extend .blue200-text ;
            }
        }
    }
}

// 블럭
.block {
    @extend .gray0 ;
    padding: 24px;
    .title {
        @extend .h5, .gray900-text ;
    }
    .title-sm {
        @extend .h6, .gray800-text, .mb-3 ;
    }
    .subtitle {
        @extend .h7, .gray600-text ;
    }
    .label {
        @extend .gray600-text, .mb-1 ;
    }
}
.block-blue {
    @extend .p-4, .blue600, .gray0-text ;
    .title {

    }
    .label {

    }
}

// 카드 블럭
.block-list {
    @extend .gray0, .bb-1 ;
    box-shadow: 0 1px 2px 0 #E0E0E0;
}
.block-btn-group {
    display: block;
    padding: 0px 20px 20px;
}
.block-card {
    @extend .block, .my-3 ;
    // box-shadow: 0 1px 2px 0 #E0E0E0;
}
.block-shadow {
    box-shadow: 0 1px 2px 0 #cccccc;
    @extend .b-1-gray150 ;
}
.block-list {
    @extend .w-100, .mb-2, .b-1-gray150, .gray0 ;
    box-shadow: 0 1px 2px 0 #e0e0e0;
}

.table-full-width {
    @extend  .w-100 ;
    .label {
        @extend .gray600-text, .mb-1 ;
    }
    .value {
        @extend .gray800-text, .h5, .mb-0 ;
    }
    &.reverse {
        .label {
            @extend .blue200-text ;
        }
        .value {
            @extend .gray0-text, .h5, .mb-0 ;
        }
    }
}

.table-portfolio {
    @extend .w-100 ;
    tr {
        background-color: white;
        border-bottom: 1px solid #e0e0e0;
    }
    td {
        @extend .py-4 ;
        &:first-child {
            @extend .pl-4, .text-left ;
        }
        &:last-child {
            @extend .pr-4, .text-right,  .w-50 ;
        }
        h6 {
            @extend .mb-1 ;
        }
    }
    .plus {
        @extend .pink500-text, .bold ;
    }
    .minus {
        @extend .blue500-text, .bold ;
    }
}

.table-wating {
    @extend .w-100 ;
    tr {
        background-color: white;
        border-bottom: 1px solid #e0e0e0;
    }
    td {
        @extend .py-4, .align-top ;
        &:first-child {
            @extend .pl-4, .text-left ;
        }
        &:last-child {
            @extend .pr-4, .text-right, .w-40 ;
        }
        h6 {
            @extend .mb-1 ;
        }
    }
    .plus {
        @extend .pink500-text ;
    }
    .minus {
        @extend .blue500-text ;
    }
    .status {
        @extend .orange500-text ;
        font-size: 14px;
        font-weight: bold;
    }
}

.table-complete {
    @extend .w-100 ;
    tr {
        background-color: white;
        border-bottom: 1px solid #e0e0e0;
    }
    td {
        @extend .py-4, .align-top ;
        &:first-child {
            @extend .pl-4, .text-left ;
        }
        &:last-child {
            @extend .pr-4, .text-right,  .w-40 ;
        }
        h6 {
            @extend .mb-1 ;
        }
    }
    .plus {
        @extend .pink500-text ;
    }
    .minus {
        @extend .blue500-text ;
    }
    .status {
        @extend .gray600-text ;
        font-size: 14px;
        font-weight: bold;
    }
}

.section-header {
    @extend .text-center, .gray700-text, .pb-2, .pt-3, .mt-2 ;
}

// 투자하기, 환매하기, 성향 조사에 쓰이는 질문지 형식
.survey {
    .progress-bar {
        @extend .blue500 ;
        height: 0.25rem ;
    }
    .sheet {
        @extend .px-4 ;
    }
    .question, .title {
        @extend .mb-2, .mt-5 ;
    }
    .sub-question {
        @extend .mt-4 ;
    }
    .tag {
        @extend .blue500-text, .mt-5, .mb-2 ;
    }
    .description {
        @extend .blue500-text ;
    }
    .info {
        @extend .gray600-text, .normal ;
        line-height: 1.6;
    }
    table {
        @extend .table ;
        &.unstyled {
            @extend .mb-0 ;
            td {
                @extend .bb-0, .pt-0, .pb-2 ;
            }
        }
        td {
            @extend .py-3, .px-0, .bt-0, .bb-1 ;
        }
        .head {
            @extend .bold, .gray800-text, .w-35 ;
        }
        .data {
            @extend .gray800-text ;
            word-break: normal;
        }
    }
    // .btn-next {
    //     @extend .btn, .btn-block, .btn-accent, .mt-5, .mb-0, .rounded-0, .py-4, .bold, .fixed-bottom, .gray0-text ;
    // }
    .btn-confirm {
        @extend .btn, .btn-accent, .btn-block, .rounded-0, .bold, .mb-5 ;
    }
    .btn-download {
        @extend .btn, .btn-secondary, .btn-block ;
        font-size: 1rem !important;
        border-radius: 0 !important;
        border-color: #e0e0e0;
    }
    fieldset[disabled] {
        .question {
            @extend .gray600-text ;
        }
        .description {
            @extend .gray600-text ;
        }
    }
    .terms-list {
        @extend .mb-4 ;
    }
    .terms-child {
        @extend .pr-4 ;
        position: relative;
        font-size: 14px;
        &:before {
            @extend .oi, .oi-chevron-right, .pt-2, .gray500-text ;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

// 포트폴리오 내역
.order-detail {
    table {
        @extend .table, .mb-0 ;
        td {
            @extend .pt-0, .px-0, .bt-0 ;
        }
        .head {
            @extend .gray700-text, .w-40 ;
        }
        .data {
            @extend .text-right, .gray800-text ;
            &.due-date {
                @extend .orange500-text ;
            }
        }
    }
}

// 자동 투자 설정
.repeat-date {
    @extend .form-control, .form-control-lg, .custom-select ;
    background: #fff url(../../assets/images/caret-bottom.svg) no-repeat right 0.75rem center;
}

//투자 설정
#invest_amount {
    margin-bottom: 300px;
}

// 환매 설정
#sell_amount {
    .note {
        @extend .h7, .gray600-text ;
    }
}

// 구매 계약서
#contractSummary {
    .title {
        @extend .mb-5, .bold ;
    }
}
.circle-steps {
    display: table;
    width: 100%;
    text-align: center;
    li {
        @extend .w-25 ;
        display: table-cell;
        position: relative;
    }
    h7 {
        display: block;
        margin-top: 52px;
    }
    .circle {
        @extend .gray200 ;
        position: absolute;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;

    }
    .bar {
        width: 100%;
        position: absolute;
        border: 6px solid #EBEBEB;
        left: 50%;
        top: 13px;
        z-index: 1;
    }
    .term {
        @extend .h7, .blue500-text ;
        &.active {
            @extend .blue500-text ;
        }
    }
    .active {
        .circle {
            @extend .blue500 ;
        }
        .bar {
            border-color: #4E7BFA;
        }
        h7 {
            @extend .blue500-text, .bold ;
        }
    }
}
