
#selectType {
    padding: 24px;
    background-color: white;
    height: 100vh;
    h1 {
        font-size: 22px !important;
        font-weight: bold;
    }
}

// 필터 버튼
#filterButton {
    @extend .btn, .btn-block ;
    position: fixed;
    bottom: 24px;
    left: 50vw;
    width: 8rem;
    text-align: center;

    padding: 1rem 1rem 1rem 0.7rem;
    margin-left: -4rem;
    border-radius: 100px;
    color: #FFFFFF;
    box-shadow: 0 1px 4px 0 #999999;

    i {
        @extend .oi, .oi-sort-descending, .h6 ;
        margin-top: -4px;
        margin-bottom: 0px;
    }
    span {
        @extend .bold ;
        color: white;
    }
}

.summary-portfolio {
    @extend .d-flex, .py-3, .px-4 ;
    align-items: center;
    @extend .blue600, .gray0-text ;
    &__name {
        @extend .bold ;
        min-width: 124px;
    }
    &__total-amount,
    &__changes {
        flex: 1;
        text-align: right;
        font-size: 15px;
        line-height: 1;
    }
}
