.list-setting {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    background-color: white;
    box-shadow: 0 -1px 0 0 #E5E5E5, inset 0 -1px 0 0 #E5E5E5;
    &__icon {
        width: 24px;
    }
    &__label {
        color: #666;
        flex: 1;
        margin: 2px 0 0 28px;
        line-height: 1;
    }
}
.list-cancel {
    margin-bottom: 1.5rem;
}
.sub-table {
    background-color: white;
    padding: 2.5rem 1.5rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 -1px 0 0 #E5E5E5, inset 0 -1px 0 0 #E5E5E5;

    table {
        @extend .table ;
    }
    & .title {
        font-weight: bold;
        margin-bottom: 3rem;
    }
    &.unstyled {
        @extend .mb-0 ;
        td {
            @extend .bb-0, .pt-0, .pb-2 ;
        }
    }
    td {
        @extend .py-3, .px-0, .bt-0, .bb-1 ;
        word-break: keep-all;
    }
    .head {
        @extend .bold, .gray800-text, .w-35 ;
    }
    .data {
        @extend .gray800-text, .pl-4 ;
        word-break: normal;
    }
}

.tag-portfolio {
    display: inline-block;
    font-size: 12px;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 4px;
    margin-top: -2px;
}


// 포트폴리오 내역
.order-detail {
    table {
        @extend .table, .mb-0 ;
        td {
            @extend .px-0 ;
        }
    }
}

.table-portfolio {
    @extend .w-100 ;
    tr {
        background-color: white;
        border-bottom: 1px solid #e0e0e0;
    }
    td {
        @extend .py-4, .text-right ;
        &:first-child {
            @extend .pl-4, .text-left ;
            max-width: 200px;
        }
        &:nth-child(2) {
            min-width: 140px;
            padding-left: 12px;
            padding-right: 16px;
        }
        &:last-child {
            @extend .pr-4 ;
        }
        h6 {
            @extend .mb-1 ;
        }
    }
    .plus {
        color: $color-red ;
    }
    .minus {
        color: $color-primary ;
    }
}

.table-full-width {
    // @extend  .w-100 ;
    .label {
        @extend .mb-1 ;
        color: $color-grey-700;
    }
    .value {
        @extend .mb-0 ;
        font-size: 19px;
    }
}
.status {
    @extend .orange500-text ;
    font-size: 14px;
    font-weight: bold;
}

.table-complete {
    .status {
        @extend .gray600-text ;
        font-size: 14px;
        font-weight: bold;
    }
}
